<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Ade Arya Bimantara</title>

        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    </head>

    <body>
        <main>
            <!-- Section Home Start -->
            <section id="home">
                <div class="container mx-auto p-8">
                    <div class="flex flex-wrap">
                        <div class="sm:w-full md:w-auto lg:w-auto self-center px-4">
                            <h1 class="text-base font-semibold text-fuchsia-400">Hi There!, I'm <span class="block font-bold mt-1 text-2xl md:text-4xl lg:text-4xl text-fuchsia-800">Ade Arya Bimantara</span></h1>
                            
                            <h2 class="font-medium text-slate-600 text-lg">Software Engineering</h2>
                            
                            <p class="font-medium text-slate-400 my-5">
                                Programming is the art of telling another human being what one wants the computer to do.
                                <span class="block text-slate-600">- Donald Ervin Knuth</span>
                            </p>

                            <a class="text-base font-semibold text-white bg-fuchsia-400 py-3 px-8 rounded-full hover:shadow-lg hover:opacity-80 transition-duration-300 ease-in-out" href="">
                                Let's Talk
                            </a>
                        </div>

                        <div class="mt-5 w-full md:w-auto lg:w-auto self-end px-4">
                            <img src="https://raw.githubusercontent.com/adearya/ade-arya-portfolio/gh-pages/assets/ade_arya_bimantara.png" alt="Ade Arya Bimantara" class="max-w-full mx-auto">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section Home End -->

            <hr class="m-10">

            <!-- Section About Start -->
            <section id="about">
                <div class="container mx-auto p-8">
                    <div class="flex flex-wrap">
                        <div class="w-full px-4 mb-10">
                            <h4 class="font-bold text-fuchsia-400 text-lg">About Me</h4>
                            <h2 class="font-bold text-fuchsia-800 my-2 text-2xl md:text-3xl lg:text-3xl">Mengenal saya lebih dekat</h2>
                            <p class="font-medium text-base text-slate-600">Hi everyone! Saya
                                <span class="text-fuchsia-600 font-bold">Ade Arya Bimantara</span>, seorang yang gemar 
                                <span class="text-fuchsia-600 font-bold">Programming</span> yang berdomisili di 
                                <span class="text-fuchsia-600 font-bold">Kota Tangerang</span>. Saya adalah salah satu lulusan 
                                <span class="text-fuchsia-600 font-bold">S1 - Teknik Informatika</span> dengan konsentrasi 
                                <span class="text-fuchsia-600 font-bold">Software Engineering</span> dari 
                                <span class="text-fuchsia-600 font-bold">Universitas Raharja</span>. Saya mulai menyukai 
                                <span class="text-fuchsia-600 font-bold">Programming</span> dari SMK yang berawal dari rasa penasaran dengan sistem operasi 
                                <span class="text-fuchsia-600 font-bold">Linux dan Open Source</span>, yang mana kita dapat mengubah sourcenya sesuka hati. Sejak itulah saya mulai menyukai semua hal yang berkaitan dengan 
                                <span class="text-fuchsia-600 font-bold">Source Code</span> dan mulai mempelajari 
                                <span class="text-fuchsia-600 font-bold">Programming</span>.</p>
                        </div>

                        <div class="w-full px-4">
                            <h2 class="font-bold text-fuchsia-800 my-2 text-2xl md:text-3xl lg:text-3xl">Apa yang saya pelajari?</h2>
                            <p class="font-medium text-base text-slate-500">Perjalanan 
                            <span class="text-fuchsia-600 font-bold">Programming</span> saya dimulai dari mempelajari 
                            <span class="text-fuchsia-600 font-bold">Linux, Open Source, dan Shellscript</span> karena linux dibangun salah satunya dengan shell dan untuk keperluan ricing linux jadi saya mempelajarinya. Lalu bahasa pemrograman yang saya pelajari adalah  
                            <span class="text-fuchsia-600 font-bold">C++</span>, kemudian saya menemukan 
                            <span class="text-fuchsia-600 font-bold">Python</span> yang katanya sourcenya lebih simple, sederhana, mudah dibaca dan dipahami. Lanjut saya belajar 
                            <span class="text-fuchsia-600 font-bold">Object Oriented Programming, Library, dan Framework</span> seperti 
                            <span class="text-fuchsia-600 font-bold">Django</span> sebagai framework untuk web backend dan 
                            <span class="text-fuchsia-600 font-bold">Kivy</span> yaitu library untuk membuat aplikasi desktop berbasis GUI. Saya juga mempelajari 
                            <span class="text-fuchsia-600 font-bold">Version Control System</span> yaitu 
                            <span class="text-fuchsia-600 font-bold">Git dan Github</span> untuk mengelola source, selain itu saya juga mempelajari 
                            <span class="text-fuchsia-600 font-bold">Virtualization</span> seperti 
                            <span class="text-fuchsia-600 font-bold">Docker</span> dengan memanfaatkan container untuk keperluan open source. Sampai dimana saya lebih fokus untuk mempelajari terkait
                            <span class="text-fuchsia-600 font-bold">Web Development</span> seperti 
                            <span class="text-fuchsia-600 font-bold">HTML, CSS, Javascript dan PHP</span>. Setelah itu saya mempelajari beberapa framework dan database management system seperti 
                            <span class="text-fuchsia-600 font-bold">NodeJS, Laravel, VueJS, Mysql, MariaDB, Bootstrap dan TailwindCSS</span>. Saat dikampus saya juga mempelajari 
                            <span class="text-fuchsia-600 font-bold">Java, Assembler dan Visual Basic</span>.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section About End -->
        </main>
    </body>
</html>
