<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ade Arya Bimantara</title>
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    </head>

    <body>
        <header class="bg-gray-800 border-b border-white fixed font-bold text--white top-0 w-full">
            <nav class="grid grid-cols-2 p-4 px-20">
                <div class="justify-start">
                    <a href="#" class="text-white">
                        Ade Arya Bimantara
                    </a>
                </div>

                <div class="flex gap-x-12 justify-end">
                    <a href="#home" class="text-white">Home</a>
                    <a href="#achievements" class="text-white">Achievements</a>
                    <a href="#projects" class="text-white">Projects</a>
                </div>
            </nav>
        </header>

        <main id="main-content">
            <!-- Home section start -->
            <section id="home" class="bg-gray-700 h-screen grid place-items-center">
                <div class="container grid grid-flow-col place-items-center">
                    <div class="text-white">
                        <span class="block font-semibold my-3">
                            Hi There!, I'm
                        </span>

                        <h1 class="font-bold text-4xl">
                            Ade Arya Bimantara
                        </h1>

                        <h2 class="font-bold text-md">
                            Software Engineering | Linux Enthusiast
                        </h2>

                        <button class="bg-gradient-to-b from-red-400 from-50% to-red-500 to-50% hover:from-red-500 hover:to-red-600 my-4 px-4 py-1 rounded-full text-red-50">
                            Let's talk
                        </button>
                    </div>

                    <div>
                        <img src="/assets/my-photo.png" alt="Ade Arya Bimantara" width="370">
                    </div>
                </div>
            </section>
            <!-- Home section end -->

            <!-- Achievements Section Start -->
            <section id="achievements" class="bg-gray-800 h-screen grid place-items-center">
                <div class="container">
                </div>
            </section>
            <!-- Achievements Section End -->

            <!-- Projects Section Start -->
            <section id="projects" class="bg-gray-700 h-screen grid place-items-center">
                <div class="container">
                </div>
            </section>
            <!-- Projects Section End -->
        </main> 

        <footer>
        </footer>
    </body>
</html>
